* {
  box-sizing: border-box;
}
html {
  font-family: Helvetica, sans-serif;
  font-weight: 16px;
  line-height: 1.5;
}
body {
  margin: 0;
  padding: 100px 180px;
}
section {
  display: flex;
  justify-content: space-between;
  max-width: 70vw;
}
article {
  margin: 30px;
}
h2 {
  font-family: Georgia, serif;
  font-size: 1em;
  line-height: 1.2;
  font-size: 30px;
}
